<a href="https://colab.research.google.com/github/2220Palmer/Data747Student/blob/main/Copy_of_week_4_PATTY_ARNOLD(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lab Assignment: Introduction to Pandas
Student:     **Patty Arnold**

### Objective: To introduce data manipulation and analysis in Python using Pandas and understand Pandas data structures and basic operations.

### Instructions:
In this lab assignment, you will be introduced to data manipulation and analysis in Python using Pandas. You will learn how to create and manipulate Pandas data structures, perform basic data analysis and cleaning operations, and apply built-in functions to analyze and transform the data.

You will be provided with the following five problems to solve. Please read the problem statement carefully and implement the solution using Pandas.

1. Read a CSV file into a Pandas DataFrame.
2. Display the first 5 rows of a Pandas DataFrame.
3. Display the last 5 rows of a Pandas DataFrame.
4. Create a new column in a Pandas DataFrame by combining two existing columns.
5. Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

### Deliverable:
Modify this notebook to include the python code as well as any documentation related to your submission.  Submit the notebook as your response in Blackboard.

### Grading Criteria:

Your lab assignment will be graded based on the following criteria:

- Correctness of the implementation
- Proper use of basic control structures and functions
- Code efficiency
- Clarity and readability of the code
- Compliance with the instructions and deliverables.

### Student Submission
1.  Read a CSV file into a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Financial Forecast.csv')
print(df)

    Year  Age  Salary  Savings  Job Match  Savings Total  Inflaction Rate  \
0   2025   25   35000     3500        175           3675             1.00
1   2026   26   35875     3588        179           3767             1.03
2   2027   27   36772     3677        184           3861             1.03
3   2028   28   37691     3769        188           3958             1.03
4   2029   29   38633     3863        193           4057             1.03
5   2030   30   39599     3960        198           4158             1.03
6   2031   31   40589     4059        203           4262             1.03
7   2032   32   41604     4160        208           4368             1.03
8   2033   33   42644     4264        213           4478             1.03
9   2034   34   43710     4371        219           4590             1.03
10  2035   35   44803     4480        224           4704             1.03
11  2036   36   45923     4592        230           4822             1.03
12  2037   37   47071     4707        235           4942             1.03
13  2038   38   48248     4825        241           5066             1.03
14  2039   39   49454     4945        247           5193             1.03
15  2040   40   50690     5069        253           5323             1.03
16  2041   41   51958     5196        260           5456             1.03
17  2042   42   53257     5326        266           5592             1.03
18  2043   43   54588     5459        273           5732             1.03
19  2044   44   55953     5595        280           5875             1.03
20  2045   45   57352     5735        287           6022             1.03
21  2046   46   58785     5879        294           6172             1.03
22  2047   47   60255     6026        301           6327             1.03
23  2048   48   61761     6176        309           6485             1.03
24  2049   49   63305     6331        317           6647             1.03
25  2050   50   64888     6489        324           6813             1.03

    Inflation Adjusted Total
0                       3675
1                       3654
2                       3745
3                       3839
4                       3935
5                       4033
6                       4134
7                       4237
8                       4343
9                       4452
10                      4563
11                      4677
12                      4794
13                      4914
14                      5037
15                      5163
16                      5292
17                      5424
18                      5560
19                      5699
20                      5841
21                      5987
22                      6137
23                      6290
24                      6448
25                      6609

2.  Display the first 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Financial Forecast.csv')
print(df.head(5))

   Year  Age  Salary  Savings  Job Match  Savings Total  Inflaction Rate  \
0  2025   25   35000     3500        175           3675             1.00
1  2026   26   35875     3588        179           3767             1.03
2  2027   27   36772     3677        184           3861             1.03
3  2028   28   37691     3769        188           3958             1.03
4  2029   29   38633     3863        193           4057             1.03

   Inflation Adjusted Total
0                      3675
1                      3654
2                      3745
3                      3839
4                      3935

3.  Display the last 5 rows of a Pandas DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Financial Forecast.csv')
print(df.tail())

    Year  Age  Salary  Savings  Job Match  Savings Total  Inflaction Rate  \
21  2046   46   58785     5879        294           6172             1.03
22  2047   47   60255     6026        301           6327             1.03
23  2048   48   61761     6176        309           6485             1.03
24  2049   49   63305     6331        317           6647             1.03
25  2050   50   64888     6489        324           6813             1.03

    Inflation Adjusted Total
21                      5987
22                      6137
23                      6290
24                      6448
25                      6609

4.  Create a new column in a Pandas DataFrame by combining two existing columns.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Age': ['46', '47', '48'],
    'Salary': ['58785', '60255', '61761']

})

df['Age_Salary'] = df['Age'] + ' ' + df['Salary']
print(df)

  Age Salary Age_Salary
0  46  58785   46 58785
1  47  60255   47 60255
2  48  61761   48 61761

5.  Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'Age': ['46', '47', '48', '49', '50'],
    'Salary': [58785, 60255, 61761, 63305, 64888]
})

#Group by Age then calculate the mean of Salary

mean_salaries = df.groupby('Age')['Salary'].mean()

print(mean_salaries)

Age
46    58785.0
47    60255.0
48    61761.0
49    63305.0
50    64888.0
Name: Salary, dtype: float64